<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: 'form-signin'}) do |f| %>
  <% devise_error_messages! %>

  <%= render 'users/shared/logo' %> 

  <h2 class="form-signin-heading">Registrace</h2>

  <div class="vspace4"></div>

   <div class="form-group has-feedback">
    <%= f.label :jméno, class:"control-label" %><br />
    <%= f.text_field :name, autofocus: true, class:"form-control", placeholder:"Jméno" %>
    <i class="glyphicon glyphicon-user form-control-feedback"></i>
  </div>

  <div class="vspace2"></div>

  <div class="form-group has-feedback">
    <%= f.label :příjmení, class:"control-label" %><br />
    <%= f.text_field :surname, autofocus: true, class:"form-control", placeholder:"Přijmení" %>
    <i class="glyphicon glyphicon-user form-control-feedback"></i>
  </div>

  <div class="vspace2"></div>

  <div class="form-group has-feedback">
    <%= f.label :email, class:"control-label" %><br />
    <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email" %>
    <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
  </div>

  <div class="vspace2"></div>

  <div class="form-group has-feedback">
    <%= f.label :heslo, class:"control-label" %>
    <% if @validatable %>
    <em>(Heslo musí mít alespoň <%= @minimum_password_length %> znaků)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Heslo" %>
    <i class="glyphicon glyphicon-lock form-control-feedback"></i>
  </div>

  <div class="vspace2"></div>

  <div class="form-group has-feedback">
    <%= f.label :potvrzení_hesla, class:"control-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Potvrďte heslo"  %>
    <i class="glyphicon glyphicon-repeat form-control-feedback"></i>
  </div>

  <div class="vspace2"></div>

  <div class="form-group has-feedback">
    <%= f.label :Posílat_automatické_upomínky, class:"control-label"  %><br />
    <%= f.check_box :reminder?  %> 
  </div>
  
  <div class="vspace2"></div>
  
  <div class="actions pull-right">
    <%= f.submit "Registrovat", class:"pull-right btn btn-md btn-primary" %>
  </div>
<% end %>

<div class="vspace6"></div>
<hr style="border-color: #818181">

<%= render "users/shared/links" %>
